__pycache__/
*/__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
.env
.env.local

build/
dist/
*.spec
*.log
.archive_manager.pid

/tools/ffmpeg.exe
/tools/ffprobe.exe
archive_app/tools/ffmpeg.exe
ffprobe.exe
ffmpeg.exe

file_scan_report.txt